<section class="wap">
    <section class="acercaDe">
    <h2>Acerca de nuestro servicio al cliente.</h2>
    </section>
    <section class="contenedor-columnas">
    <div class="columnas">
        <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        <p>El horario de atención<br>esta disponible todo el<br>año, las 24 horas del dia.
        </p>
        </div>
        <br>
    <div class="columnas">
        <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
        <p>Para comunicarte con<br>nuestros agentes  llama<br>al 600-999-999.
        </p>
        </div>
        <br>
    <div class="columnas">
        <i class="fa fa-wrench fa-3x" aria-hidden="true"></i>
        <p>Resolveremos tus<br>inconvenientes en un<br>plazo máximo de 24 horas.
        </p>
        </div>
    </section>
    </section>
 