<div class="contenedor">
    <h1 class="title">Edita tu Reclamo</h1>
        
            <textarea rows="4" cols="70">Aquí estará el reclamo original donde se podrá editar</textarea>
        
        <input class="boton_personalizado" id="butrep1" type="submit" value="Editar"/>
        <input class="boton_personalizado" id="butrep1" type="submit" value="Guardar" [routerLink]="['/main-user']"/>
        <input class="boton_personalizado" id="butrep1" type="submit" value="Cancelar" [routerLink]="['/main-user']"/>
</div>

