<div class="contenedor"> 
    <h1>Iniciar Sesion</h1><br>
    <p>¡Bienvenido!</p>
    <p>Por favor ingresar sus datos correctamente</p><br><br>

    <p>
        <mat-form-field>
            <mat-label>CORREO ELECTRONICO </mat-label>
            <input matInput #correo>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>CONTRASEÑA </mat-label>
            <input matInput type="password" #contrasena>
        </mat-form-field><br>   
    </p>
    <button class="boton_personalizado" (click)="loginUsuario(correo.value, contrasena.value)" >Iniciar Sesion</button><br>
    <button class="boton_personalizado" [routerLink]="['/bienvenido']">Volver atras</button>
    
    <ul><a class="registro" [routerLink]="['/registro']" style="text-decoration: none;">¿No estas registrado? Registrate aqui!</a></ul>
    
    <ul><a class="recuperar" [routerLink]="['/recuperarc']" style="text-decoration: none;">¿Olvido su contraseña?</a></ul>
</div>

