<div class="contenedor">

    <!--Contenido de Reporte-->
    <h2>Reclamo N°...</h2>
    <div class="contenedor1">
    <h3>Estado reclamo: Pendiente/No pendiente.</h3>
    

        <form>
        <p>
        Sr/Sra: "Devolver funcion con el nombre" <br>
        R.U.T: "Devolver funcion con el rut" <br>
        Fecha: "Devolver funcion con la fecha" <br>
        Tipo de Reclamo: "Devolver funcion con el tipo de reclamo" <br>
        Descripcion reclamo: "Devolver funcion con la descripcion del reclamo"<br>
        <textarea name="inquietud" placeholder="Type here your message..."></textarea> <br>
        <input type="submit" value="Responder"/>
        <input type="submit" value="Volver atras" [routerLink]="['/main-ejecutivo']"/>
        </p>
        

    </form>
        
        </div>
