<div class="contenedor"> 
	<h3>Edita tu cuenta</h3>

<br>

<form>
	<div>
		<label>Nombres:</label>
		<input type="text" value="Marcela" required>
	</div>
<br>


	<div>
		<label>Apellidos:</label>
		<input type="text" value="Aguirre López" required>
	</div>
<br>

	<div>
		<label>Rut:</label>
		<input type="text" value="12.345.678-9" required>
	</div>
<br>


	<div>
		<label>Correo Electrónico:</label>
		<input type="email" placeholder="Ej: marcela.A@mail.com" required>
	</div>
<br>


	<div>
		<label>Número de teléfono:</label>
		<input type="text" placeholder="Ej: 56012345678">
	</div>
<br>


	<div>
		<label>Contraseña:</label>
		<input type="password" placeholder="********" required>
	</div>
<br>


	<div>
		<label>Confirmar contraseña:</label>
		<input type="password" placeholder="********" required>
	</div>
	
<br>
	<div>
		<label>Cargo:</label>
			<select name="nombre">
				<option value="opcion">Seleccione una opción</option>
				<option value="Producto 1">Atencion al Cliente</option>
				<option value="Producto 2">Supervisor</option>
				<option value="Producto 3">Administrador</option>
			</select>
	</div>

<input type="submit" value="Guardar" [routerLink]="['/main-ejecutivo']">
<input type="submit" value="Volver atras" [routerLink]="['/main-ejecutivo']">
            </form>
    </div>

