<div class="contenedor" id="cont1" > 
    <h1>Bienvenido nombre </h1>
    <h2>¿En que te ayudamos hoy?</h2>
    <br>
    
    <div class="minicontenedor" ><button [routerLink]="['/reporte']"><Strong>Accede al portal de Reclamos</Strong></button></div>
    <div class="minicontenedor" ><button [routerLink]="['/editarc/']"><Strong >Editar Datos de Cuenta</Strong></button></div>
    <div class="minicontenedor" ><button [routerLink]="['/busqueda-reclamo']"><Strong>Rastreo de Reclamos</Strong></button></div><br>
    
    <button class="boton_personalizado" id="botonrightuser"  [routerLink]="['/bienvenido']">Cerrar Sesion</button>

</div>
