table {
    width: 100%;
    position: relative;
    height: 400px;
    overflow: auto;
    display: block;
    border-radius: 10px;
    text-align: center;
  }


  .material-icons.md-24 { font-size: 24px; } 