<div class="contenedor">
    <!--Contenido de Reporte-->
    <h2>Busqueda de Reclamos</h2>
    <div>
    <form>
        <p>
     
        <select name="nombre">
            <option value="opcion">Seleccione una opción</option>
            <option value="porRut">Busqueda N° Reclamo</option>
            <option value="porNumReclamo">Busqueda...</option>
        </select>
        <input type="text" name="numeroR" placeholder="Ingrese N° Reclamo o ...">
        </p>	
    </form>
    </div>
    <div>

        </div>
        <p>
            <button class="boton_personalizado" id="vabut" type="submit" onclick="gotoinicio()" [routerLink]="['/buscando-reclamos']">Buscar</button>
            <button class="boton_personalizado" id="vabut" type="submit" onclick="gotoinicio()" [routerLink]="['/main-user']">Volver atrás</button>
      </div>
