<div class="contenedor" *ngIf="usuario">
    <h3>Edita tu cuenta {{usuario.nombre}}</h3>
    
    <br>
    
    <form style="width: 80%;" >
        <mat-form-field style="width: 84%; padding-right: 10px;" >
            <mat-label>RUT</mat-label>
            <input matInput #rut  disabled="true" value="{{usuario.rut}}">
        </mat-form-field>
        <div>
            <mat-form-field style="width: 40%;padding-right: 30px;">
                <mat-label>NOMBRE</mat-label>
                <input matInput #nombre disabled="true" value="{{usuario.nombre}}">
            </mat-form-field>
            <mat-form-field style="width: 40%;">
                <mat-label>APELLIDO</mat-label>
                <input matInput #apellido disabled="true" value="{{usuario.apellido}}">
            </mat-form-field>
        </div>
        <div >
        <mat-form-field style="width: 40%;padding-right: 30px;">
            <mat-label>CORREO</mat-label>
            <input matInput  #correo value="{{usuario.correo}}">
        </mat-form-field>
        
        <mat-form-field style="width: 40%;" >
            <mat-label >TELEFONO</mat-label>
            <input matInput #telefono value="{{usuario.telefono}}">
        </mat-form-field>
        </div>
        <div>
        <mat-form-field style="width: 40%;padding-right: 30px;">
            <mat-label>Direccion</mat-label>
            <input matInput #direccion value="{{usuario.direccion}}">
        </mat-form-field>
        </div>
    </form>
    <button mat-raised-button color="warn" style="margin-right: 10px;" (click)="borrar(rut.value)" routerLink="/bienvenido/">Dar de Baja</button>
    <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="guardar(rut.value, nombre.value, apellido.value, correo.value, telefono.value, direccion.value)">Guardar</button>
    <button mat-raised-button color="primary" (click)="volver()">Volver</button>
    </div>
