<div class="contenedor" >
    <h3>Edita tu cuenta</h3>
    
    <br>
    
    <form style="width: 80%;">
        <mat-form-field style="width: 84%; padding-right: 10px;" >
            <mat-label>Rut</mat-label>
            <input matInput #num_reclamo  disabled="true">
        </mat-form-field>
        <div>
            <mat-form-field style="width: 40%;padding-right: 30px;">
                <mat-label>Nombres</mat-label>
                <input matInput #rut_usuario  disabled="true">
            </mat-form-field>
            <mat-form-field style="width: 40%;">
                <mat-label>Apellidos</mat-label>
                <input matInput #rut_usuario  disabled="true">
            </mat-form-field>
        </div>
        <div >
        <mat-form-field style="width: 40%;padding-right: 30px;">
            <mat-label>Correo Electronico</mat-label>
            <input matInput #tipo_problema >
        </mat-form-field>
        <mat-form-field style="width: 40%;">
            <mat-label>Numero de telefono</mat-label>
            <input matInput #texto_reclamo >
        </mat-form-field>
        </div>
        <div>
        <mat-form-field style="width: 40%;padding-right: 30px;">
            <mat-label>Contraseña</mat-label>
            <input matInput #fecha >
        </mat-form-field>
        <mat-form-field style="width: 40%;">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput #fecha >
        </mat-form-field>
        </div>
    </form>
       <input type="submit" value="Guardar" [routerLink]="['/main-user']" style="margin-right: 20px;">
       <input type="submit" value="Volver atras" [routerLink]="['/main-user']">
    </div>
