<div class="contenedor"> 
    <h1>BIENVENIDO</h1><br>
    <div class="minicontenedor" id="main1">
        <button class="boton_personalizado" (click)="gologin()" >Ingresar con su Cuenta</button><br>
    </div>
    <div class="minicontenedor" id="main2">
        <button class="boton_personalizado" (click)="goregistro()">Crear una cuenta</button><br>
    </div>
    <input type="submit" name="Volver atras" value="Si eres ejecutivo de la empresa, pincha aqui!" class="boton" [routerLink]="['/login-ejecutivo']"/>
</div>
